trigger:
- main

pool:
  name: selfhosted
  
steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
    
- task: safeer-accuknox-secret-scan@0
  inputs:
    accuknoxEndpoint: '<ACCUKNOX_ENDPOINT>'
    accuknoxTenantId: '<ACCUKNOX_TENANT_ID>'
    accuknoxToken: '<ACCUKNOX_TOKEN>'
    accuknoxLabel: '<ACCUKNOX_LABEL>'
    accuknoxSaveToS3: true
    inputSoftFail: true